<aside class="filter-container">
<h2>Filter</h2>

<div>
    <button id="filter-update-button" class="action-button">Update</button>
</div>

<div class="filter-input-container">
    <label for="filter-trip-name" class="filter-input-label">Trip Title</label>
    <div class="filter-input-element">
    <input type="text" name="filter-trip-name" id="filter-trip-name" class="filter-input">
    </div>
</div>

<div class="filter-input-container">
    <label for="filter-date" class="filter-input-label">Start Date</label>
    <div class="filter-input-element">
    <input type="date" id="filter-start-date" class="filter-input">
    </div>
</div>

<div class="filter-input-container">
    <label for="filter-date" class="filter-input-label">End Date</label>
    <div class="filter-input-element">
    <input type="date" id="filter-end-date" class="filter-input">
    </div>
</div>

<div class="filter-input-container">
    <label for="filter-country" class="filter-input-label">Country</label>
    <div class="filter-input-element">
    <input type="text" name="filter-country" id="filter-country" class="filter-input">
    </div>
</div>

</aside>
