<div class="photo-post">
  <div class="photo-post-contents">
    <div class="photo-post-image-container">
      <img src="{{photoURL}}" alt="{{caption}}">
    </div>
    <div class="photo-caption-container">
      <p>{{caption}}</p>
    </div>
  </div>
</div>
