<!DOCTYPE html>
<html>
  <!-- <head>
    <meta charset="utf-8">
    <title>Benny's Tripz</title>
    <link rel="stylesheet" href="style.css">
    <base href=".">
  </head> -->


    <header id="site-header">
      <h1 class="site-title"><a href="#">Benny's Tripz</a></h1>
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/index.html">Home</a></li>
        <li class="navitem"><a href="/gallery.html">Gallery</a></li>
        <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
      </ul>
    </nav>

  <body>

    {{{body}}}

  </body>
</html>
