<!DOCTYPE html>
<html>
  <!-- <head>
    <meta charset="utf-8">
    <title>Benny's Tripz</title>
    <link rel="stylesheet" href="style.css">
    <base href=".">
  </head> -->


    <!-- <header id="site-header">
      <h1 class="site-title"><a href="#">Benny's Tripz</a></h1>
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/index.html">Home</a></li>
        <li class="navitem"><a href="/gallery.html">Gallery</a></li>
        <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
      </ul>
    </nav> -->

    <!-- <header>

      <img src="public\logo.png" alt="Trip Journal: Your Travel Memories Online">
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/index.html">Home</a></li>
        <li class="navitem"><a href="/gallery.html">Gallery</a></li>
        <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
      </ul>
    </nav> -->

  <!-- <body>
    <header class="main-header">
      <div class="logo-image-container">
        <img src="tripjournallogo.png" alt="Trip Journal: Your Travel Memories Online">
      </div>
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/index.html">Home</a></li>
        <li class="navitem"><a href="/gallery.html">Gallery</a></li>
        <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
      </ul>
    </nav> -->

    {{{body}}}

  </body>
</html>
