<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="style.css">

    <!-- <script src="/gallery.js"></script> -->
    <script src="gallery.js" type="module" charset="utf-8" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
    <script src="/photoTemplate.js" charset="utf-8"></script>

    <!-- font stuff -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- commenting out header and nav so it can just be in main.handlebars -->
    <header class="main-header">
      <div class="logo-image-container">
        <img src="tripjournallogo.png" alt="Trip Journal: Your Travel Memories Online">
      </div>
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/index.html">Home</a></li>
        <li class="navitem"><a href="/gallery.html">Gallery</a></li>
        <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
      </ul>
    </nav>

    <div class="gallery-stuff-container">
      <div class="button-container">
        <a href="#" id="previous-button">&#8249;</a>
      </div>

      <div class="slideshow-container">
        {{#each photos}}
            {{> photo}}
        {{/each}}
      </div>

      <div class="button-container">
      <a href="#" id="next-button">&#8250;</a>
      </div>
    </div>

  </body>
</html>
