<main>
  <section>
    <div class="cards">
      <img src="#" alt="">
      <p>Description</p>
    </div>
  </section>

  <section>
    <div class="cards">
      <img src="#" alt="">
      <p>Description</p>
    </div>
  </section>

  <section>
    <div class="cards">
      <img src="#" alt="">
      <p>Description</p>
    </div>
  </section>
</main>
