<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <script src="index.js" charset="utf-8" defer></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
    <script src="/filterTemplate.js" charset="utf-8"></script>
    <script src="/tripEntery.js" charset="utf-8"></script>

    <!-- font stuff -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- commenting out header to put in into main.handlebars -->
    <header class="main-header">
      <div class="logo-image-container">
        <img src="tripjournallogo.png" alt="Trip Journal: Your Travel Memories Online">
      </div>
    </header>

    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem"><a href="/index.html">Home</a></li>
        <li class="navitem"><a href="/gallery.html">Gallery</a></li>
        <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
      </ul>
    </nav>

    <main>
      <!-- <aside class="filter-container">
        <h2>Filter</h2>

        <div class="filter-input-container">
          <label for="filter-trip-name" class="filter-input-label">Trip Title</label>
          <div class="filter-input-element">
            <input type="text" name="filter-trip-name" id="filter-trip-name" class="filter-input">
          </div>
        </div>

        <div class="filter-input-container">
          <label for="filter-date" class="filter-input-label">Start Date</label>
          <div class="filter-input-element">
            <select id="filter-start-month" class="filter-input">
              <option selected value="">Any</option>
              <option>January</option>
              <option>Febuary</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>

            /

            <input type="number" id="filter-start-day" class="filter-input">

            /

            <input type="number" id="filter-start-year" class="filter-input">
          </div>
        </div>

        <div class="filter-input-container">
          <label for="filter-date" class="filter-input-label">End Date</label>
          <div class="filter-input-element">
            <select id="filter-end-month" class="filter-input">
              <option selected value="">Any</option>
              <option>January</option>
              <option>Febuary</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>

            /

            <input type="number" id="filter-end-day" class="filter-input">

            /

            <input type="number" id="filter-end-year" class="filter-input">
          </div>
        </div>

        <div class="filter-input-container">
          <label for="filter-city" class="filter-input-label">City</label>
          <div class="filter-input-element">
            <input type="text" name="filter-city" id="filter-city" class="filter-input">
          </div>
        </div>

        <div class="filter-input-container">
          <label for="filter-state-province" class="filter-input-label">State/Province</label>
          <div class="filter-input-element">
            <input type="text" name="filter-state-province" id="filter-state-province" class="filter-input">
          </div>
        </div>

        <div class="filter-input-container">
          <label for="filter-country" class="filter-input-label">Country</label>
          <div class="filter-input-element">
            <input type="text" name="filter-country" id="filter-country" class="filter-input">
          </div>
        </div>

        <div>
          <button id="filter-update-button" class="action-button">Update</button>
        </div>
      </aside> -->

      {{> filter}}

      <section id="trips">
        {{#each tripData}}
          {{> tripEntery}}
        {{/each}}
        <!-- <div class="trip" data-title="Somewhere">
          <div class="trip-contents">
            <div class="trip-image-container">
              <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg">
            </div>
            <div class="trip-info-container">
              <button type="button" id="0" class="trip-title">Somewhere</button>
              <div class="trip-date">September 19, 2020 - October 1, 2020</div>
              <div class="trip-location">Portland, Oregon USA</div>
              <p>This is a place</p>
            </div>
          </div>
        </div>

        <div class="trip" data-title="Someplace">
          <div class="trip-contents">
            <div class="trip-image-container">
              <img src="https://cnet4.cbsistatic.com/img/xTXdUEQEBqoDx74pbwCcpUc1XFQ=/fit-in/370x0/2017/01/18/c68ae3ac-6795-4d38-91e9-ec3e4fbffd6c/9401078c315052fc72a74b.jpg">
            </div>
            <div class="trip-info-container">
              <button type="button" id="1" class="trip-title">Someplace</button>
              <div class="trip-date">June 2, 2020 - July 1, 2020</div>
              <div class="trip-location">Corvallis, Oregon USA</div>
              <p>kk</p>
            </div>
          </div>
        </div>

        <div class="trip" data-title="other">
          <div class="trip-contents">
            <div class="trip-image-container">
              <img src="">
            </div>
            <div class="trip-info-container">
              <button type="button" id="2" class="trip-title">other</button>
              <div class="trip-date">July 23, 2020 - September 3, 2020</div>
              <div class="trip-location">Salem, Oregon USA</div>
              <p>no</p>
            </div>
          </div>
        </div> -->
      </section>
    </main>

    <div id="modal-backdrop" class="hidden"></div>

    <section id="modal" class="hidden">
      <div class="modal-header">
        <button type="button" id="modal-close" class="modal-hide-button">X</button>
      </div>
    </section>
  </body>
</html>
