<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pagetitle}}</title>

     <base href=".">

    <link rel="stylesheet" href="trip.css">

    <!-- font stuff -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <script src="trip.js" type="module" charset="utf-8" defer></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <!-- CSS and JS files for Search Box -->
 <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>

 <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>

 <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">

 <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/3.1.0/bundle.min.js"></script>

 <script src="/geosearch.js" type="module" charset="utf-8"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>

 <script src="/tripEntery.js" charset="utf-8"></script>

 <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/3.1.0/geosearch.css"
/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/3.1.0/bundle.min.js"></script>

<script src='https://unpkg.com/leaflet-image@0.4.0/leaflet-image.js'></script>


<script src="/geosearch.js" type="module" charset="utf-8" defer></script>
  </head>

  <header class="main-header">
    <div class="logo-image-container">
      <img src="tripjournallogo.png" alt="Trip Journal: Your Travel Memories Online">
    </div>
  </header>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem"><a href="/index.html">Home</a></li>
      <li class="navitem"><a href="/gallery.html">Gallery</a></li>
      <li class="navitem"><a href="/trip.html">Plan a Trip</a></li>
    </ul>
  </nav>

<body>

<!-- This link should take user back to "homepage" on click -->

<header id="site-header">
  <h1 class="site-title"><a href="#">{{sitetitle}}</a></h1>

</header>

<div id="page-header">
    <h2 class="page-title">{{pagetitle}}</h2>
  </div>

    <aside id="add-trip-container">

      <form id="location-form">

        <label for="location">Enter a location (e.g., "Seattle") ,then press enter</label><br>
        <input type="text" id="location-input" placeholder="Search" name="location"><br>

      </form>

        <div id="mapid"></div>

<div id="trip-plan-forum" hidden>

    <div><button type=button class="close" id="button-close">✖ </button>Destination of trip: <p id="results"></p> </div>

    <p>Upload an image for this trip: <input type="url" id="trip-image-url-input"></p>

      <p>Start Date:
      <input type="date" id="trip-start-date" class="trip-date">
    </p>

      <p>End Date:
        <input type="date" id="trip-end-date" class="trip-date">
      </p>
    <button class="trip-button" id="add-trip-button">Add trip</button>
    <button class="trip-button" id="cancel-trip-button">Cancel</button>

<div id="tripimg" hidden> </div>

</div>

  </aside>

<!-- User generated trips will be here -->
<section id="mytrips">


</section>

  <!-- Included at the buttom to make templates work -->
  <!-- <script src="index.js" type="module" charset="utf-8" defer></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script> -->

  <!-- CSS and JS files for Search Box -->
  <!-- <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/3.1.0/geosearch.css"
  />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/3.1.0/bundle.min.js"></script>
  <script src="/geosearch.js" type="module" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js"></script>
  <script src="public/trip.js" type="module" charset="utf-8" defer></script>
  <script src="/tripEntery.js" charset="utf-8"></script>
  <link rel="stylesheet" href="trip.css"> -->

    <!-- <section id="map">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-163.47656250000003%2C11.609193407938953%2C-50.44921875000001%2C57.326521225217064&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small></small>
    </section> -->

<!-- Map goes here -->

<!-- </body> -->

<!-- </html> -->

<!-- /*
Notes:
- Trip info:
  - The number of days should be dynamically generated depending on the trip duration
  - Not sure what to do with cities, for now they're just for the user to see where
  - they're going on a given day
  - For the destinations, pressing the + button adds a new destination field
  - while pressing the remove button removes the field
  - In the HTML, each label has a "for" that matches the "id" of its related input
  - I'm not sure why could that be useful yet, but I saw that in the MDN docs
  - feel free te edit the HTML btw
- Map:
  - Ideally, it should be interactive with the user input
  - for example, the user could select a location on the map
  - and that will automatically be saved into the destination field
  - Or maybe grab the adress, the website (if any), or the open hours of the chosen location
  - For this project, we probably don't need to do all of that.
  - We could probably get away with only showing the map, but at least one of these features would be cool
- Action buttons
  - Save should add the trip to the home page. Need to know what a trip card in the home page would look like.
  - only the data displayed in the home page cards should be used. The rest of the data should be saved in our data file.
  - Cancel just cancels obviously xD
  - Both save and cancel should clear all the inputs
  - Both should redirect to home page
  - Honestly haven't looked into uploading images much
*/ -->
