
body {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family:sans-serif;
  background-color: #9CC4F4;
}

/* Header and Nav bar */
header {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px;
  justify-content:center;
  background-color: #7AB4FB;
}

.logo-image-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav {
  background-color: #F2CBFC;
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.navitem {
  display: inline-block;
  justify-content: center;
  padding: 0 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none !important;
}

.navitem a{
  color: white;
}

/* page descriptions */
.page-description-container {
  width:auto;
  height:auto;
  color:white;
  /* background-color:black; */
  display: flex;
  font-size: 20px;
  justify-content:center;
}
.page-description {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 0;
}

/* Trip cards */
.cards {
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  border: 1px solid;
  border-color: white;
  margin: 10px;
  padding: 5px;
  width: 200px;
  height: 200px;
  background-color: #cae8d9;
}

/* remove trip button */
.trip-remove-container {
  display: flex;
  justify-content: flex-end;
}

.trip-remove {
  border: none;
}


/* p {
  display: none;
  padding-left: 20px;
  font-size: 25px;
  float: left;
  max-width: 580px;
} */

h1 {
  margin-left: 25px;
}

.trip-contents{
  background-color: white;
  padding: 7px;
}
.trip-info-container {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 5px;
}

.trip-title {
  font-family: 'Open Sans Condensed', sans-serif;
}

.trip .trip-contents {
  width: 300px;
  height: 325px;
  border: 1.5px solid white;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
  float: left;
}

.trip .trip-contents .trip-image-container img {
  max-width: 280px;
  height: auto;
  max-height: 200px;
  width: auto;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.trip .trip-contents .trip-info-container {
  margin-left: 10px;
}


/* filter stuff */
.filter-container {
  display: inline-block;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  min-width: 0%;
  max-width: 200%;
  margin-left: 25px;
  margin: 30px;
  padding: 20px;
  border-radius: 3px;
  color: white;
  background-color: #3C80D4;
}

.filter-input-container {
  float: left;
}

.filter-container h2 {
  margin: 0;
}

.filter-input-container {
  margin: 10px 30px 0px 0px;
}

.action-button {
  margin-top: 10px;
}

/* modal stuff */
.hidden {
  display: none;
}

#hidden {
  display: none;
}s

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 25px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  border: none;
  background: none;
  padding: 0px;
  cursor: pointer;
}

/* GALLERY */

/* photo posts */
.gallery-stuff-container {
  /* display: flex;
  justify-content: center; */
}

.entire-slideshow-container {
  display: flex;
  justify-content: center;
}

.slideshow-container {
  width:auto;
  display: flex;
  justify-content: center;
  margin-top: 0;
  /* margin:0; */
}

.photo-post {
  display: block;
  padding: 20px;
  margin: 20px;
  /* display: none; */
}

.photo-post-image-container img {
  max-width: 600px;
  max-height: 600px;
  margin: 10px;
}

.photo-caption-container {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 22px;
  /*margin: 10px;*/
  display: flex;
  justify-content: center;
}

.button-container {
  /* width: 40px;
  height: 40px; */
}

#previous-button {
  font-size: 50px;
  display: flex;
  justify-content: left;
  position: static;
  margin: 30px;
  color: white;
}

.previous-button:hover {

}

#next-button {
  font-size: 50px;
  display: flex;
  justify-content: right;
  position: static;
  margin: 30px;
  color: white;
}

.next-button:hover {

}

/* 404 */
.error-container {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 500px;
}
